<md-bottom-sheet class="md-grid" style="position:fixed;">
    <md-list>
        <md-item ng-repeat="item in items">
            <md-button class="md-grid-item-content" aria-label="{{item.name}}" ng-click="listItemClick($index, item.name, item.deeplink, item.marketlink)">
                <div class="md-icon-container">
                    <img src="{{ item.image }}" alt="" style="height: 100%;">
                </div>
                <p class="md-grid-text"> {{ item.name }} </p>
            </md-button>
        </md-item>
        <md-item ng-if="noItem()" style="max-width: 100%;">
            <p>현재 이 곡은 앱과의 연결이 지원되지 않습니다.</p>
        </md-item>
    </md-list>
</md-bottom-sheet>